<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuelspot"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"

            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- fuelspot.com.tr -->
                <data
                    android:host="fuelspot.com.tr"
                    android:scheme="http" />
                <data
                    android:host="fuelspot.com.tr"
                    android:scheme="https" />
                <data
                    android:host="www.fuelspot.com.tr"
                    android:scheme="http" />
                <data
                    android:host="www.fuelspot.com.tr"
                    android:scheme="https" />

                <!-- fuelspot.com -->
                <data
                    android:host="fuelspot.com"
                    android:scheme="http" />
                <data
                    android:host="fuelspot.com"
                    android:scheme="https" />
                <data
                    android:host="www.fuelspot.com"
                    android:scheme="http" />
                <data
                    android:host="www.fuelspot.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutomobileEditActivity"
            android:label="@string/edit_automobile"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StationDetails"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFuel"
            android:label="@string/add_fuel"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PurchaseDetails"
            android:label="@string/purchase"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/edit_profile"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StationComments"
            android:label="@string/comments"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAutomobile"
            android:label="@string/add_vehicle"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserFavorites"
            android:label="@string/favorites"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInbox"
            android:label="@string/inbox"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".UserInbox"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StoreActivity"
            android:label="@string/store"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserComments"
            android:label="@string/comments"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsDetail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ContentTheme" />
        <activity
            android:name=".AllNews"
            android:label="@string/latest_news"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPurchases"
            android:label="@string/user_purchases"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportMissingStation"
            android:label="@string/title_activity_report_missing_station"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:label="İstasyon ara"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- SuperUser Class -->
        <activity
            android:name=".superuser.SuperWelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".superuser.SuperMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superuser.SuperUpdateStation"
            android:label="@string/update_station"
            android:launchMode="singleTop"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".superuser.AddStation"
            android:label="@string/add_station"
            android:launchMode="singleTop"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superuser.SuperCampaings"
            android:label="@string/campaigns"
            android:launchMode="singleTop"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".superuser.SuperProfileEdit"
            android:label="@string/edit_profile"
            android:launchMode="singleTop"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".superuser.SuperStoreActivity"
            android:label="@string/store"
            android:launchMode="singleTop"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId" />

        <!-- AdMob -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Facebook -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/google_key" />

        <!-- Google Maps && PlaceAutoComplete && Awareness -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- AlarmReceiver -->
        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Firebase -->
        <receiver
            android:name=".receiver.FenceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fuelspot.FENCE_RECEIVER_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>