<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuelspot"
    tools:targetApi="p">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:requiredFeature="false" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AutomobileEditActivity"
            android:label="Otomobil"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StationDetails"
            android:label="İstasyon detayı"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddFuel"
            android:label="Yakıt ekle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PurchaseDetails"
            android:label="Satınalma detayı"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="Profili düzenle"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StationComments"
            android:label="@string/comments" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAutomobile"
            android:label="@string/add_vehicle"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserFavorites"
            android:label="@string/favorites" />
        <activity
            android:name=".StoreActivity"
            android:label="@string/store"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserComments"
            android:label="@string/comments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserPurchases"
            android:label="@string/purchases"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuelspot.MainActivity" />
        </activity>

        <!-- SuperUser Class -->
        <activity
            android:name=".superuser.SuperWelcomeActivity"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".superuser.SuperMainActivity" />
        <activity
            android:name=".superuser.SuperUpdateStation"
            android:label="@string/update_station"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".superuser.AddStation"
            android:label="@string/add_station"
            android:parentActivityName=".superuser.SuperMainActivity" />
        <activity
            android:name=".superuser.SuperPurchases"
            android:label="@string/purchases"
            android:parentActivityName=".superuser.SuperMainActivity" />
        <activity
            android:name=".superuser.SuperCampaings"
            android:label="@string/campaigns"
            android:parentActivityName=".superuser.SuperMainActivity" />
        <activity
            android:name=".superuser.SuperProfileEdit"
            android:label="Profili düzenle"
            android:parentActivityName=".superuser.SuperMainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".superuser.SuperStoreActivity"
            android:label="@string/store"
            android:parentActivityName=".superuser.SuperMainActivity" />

        <!-- AlarmReceiver -->
        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.FenceReceiver">
            <intent-filter>
                <action android:name="com.fuelspot.FENCE_RECEIVER_ACTION" />
            </intent-filter>
        </receiver>

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <!-- Google Maps && PlaceAutoComplete && Awareness -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/g_api_key" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/g_api_key" />

        <!-- Firebase -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>